<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">

  <head>
   
    {% include "HomeBundle:Includes:menu.html.twig"   %}
  </head>
</br></br>
<body>
  <div style="font-family: Verdana, sans-serif">
<div class="right2">
  <h2 style="text-align: center;">
    <strong>
    CURICULUM VITAE
  </strong>
  </h2>
</div>
     
     <div class="right">

            
        
    

    <li><span style="color: #000000;">Antoine Araujo</span></li>
    <li><span style="color: #000000;">23/07/1996 (20 ans)</span></li>
    <li><span style="color: #000000;">1179 Route des Cimes 42680</span></li>
    <li><span style="color: #000000;">Saint Marcellin-En-Forez</span></li>
    <li><span style="color: #000000;">06 47 63 96 60 (portable)</span></li>
    <li><span style="color: #000000;">antoinearau@gmail.com</span></li>
    <li><span style="color: #000000;">Permis B (Dispose d'un véhicule)</span>

<hr />
</li>
</ul>

<div style="text-align: center;">
<blockquote><span style="color: #000000;"><strong>COMPETENCES:</strong></span></blockquote></div>
<span style="color: #000000;"><strong> Informatique :</strong></span></br></br>

<span style="color: #000000;">-Utilisation de système d'exploitation ( Ubuntu (Mate, Lubuntu) , Debian, Windows (XP,7 ,10) )</span></br>

<span style="color: #000000;">-Quelques bases en programmation de microprocesseurs ( Java, Arduino.. )</span></br>

<span style="color: #000000;">-Bases en programmation objet ( Java )</span></br>

<span style="color: #000000;">-Bases en Programmation web ( Utilisation de Framework tel que Symfony2 )</span></br>

<span style="color: #000000;">-Utilisation de logiciels tel que VirtualBox, Winscp, Putty, Filezilla..</span></br>

<span style="color: #000000;">-Utilisation de moteur de jeu tel que Unity3D ainsi que de logiciel de création graphique tel que Adobe Illustrator.</span></br></br>

<span style="color: #000000;"><strong> Langues étudiées : </strong></span></br></br>

<span style="color: #000000;">-Anglais et italien</span>
</br></br>



<div style="text-align: center;"><blockquote><span style="color: #000000;"><strong>FORMATION: </strong></span></blockquote></div>
<span style="color: #000000;"><strong>2016/2017:</strong></br> -BTS "Services Informatiques aux organisations" Option SLAM "Solutions Logicielles et Applications Métier"2ème année au Lycée Simone Weil à Saint Priest en Jarez</span></br></br>

<span style="color: #000000;"><strong>2015/2016:</strong></br> -BTS "Services Informatiques aux organisations" Option SLAM "Solutions Logicielles et Applications Métier"1ère année au Lycée Simone Weil à Saint Priest en Jarez</span></br></br>

<span style="color: #000000;"><strong>2014/2015:</strong></br> -Baccalauréat "Sciences et Technologies de l'industrie et du développement Durable" Option "Système Informatique Numérique" au Lycée François Mauriac à Andrézieux-Bouthéon</span></br></br>

<span style="color: #000000;"><strong>2011/2012:</strong></br> -Seconde Générale option Art Visuel au Lycée Honoré d'Urfé à St Etienne</span>
</br></br>


<div style="text-align: center;"><blockquote><span style="color: #000000;"><strong>EXPERIENCE PROFESSIONNELLE:</strong></span></blockquote></div>
<span style="color: #000000;"><strong> Stage/Été 2016 :</strong></br></span>

<span style="color: #000000;">-Travaux sur le domaine viticole de la GAEC du pic à Saint Romain-le-Puy</span>

<span style="color: #000000;">-Création d'un site Internet en Symfony pour le CyberCafé de Montbrison (Next Level)</span></br></br>

<span style="color: #000000;"><strong> Été 2014 :</strong></br></span>

<span style="color: #000000;">-Chantiers éducatifs au service technique de la Mairie de Saint Marcellin-En-Forez</span></br></br>

<span style="color: #000000;"><strong> Été 2013 :</strong></br></span>

<span style="color: #000000;">-Travaux de Maraîchage à St Just St Rambert</span>
</br></br>



<div style="text-align: center;"><blockquote><span style="color: #000000;"><strong>CENTRES D'INTERET:</strong></span></blockquote></div>
<span style="color: #000000;">-Informatique (développement)</span></br>

<span style="color: #000000;">-Bénévolat dans une association organisant des concerts</span></br>

<span style="color: #000000;">-Dessin, Musique (Pop, Rock, Reggae, Rap, Electronique)</span></br>

<span style="color: #000000;">-Skateboard / Snowboard</span></li></br></br></br></br>
</ul>
</div>
</div>
     <div id="footer"></div>


   
</body>

</html>