{% include "HomeBundle:Includes:menu.html.twig"   %}
<div style="font-family: Verdana, sans-serif">
<div class="right2">
  <h2 style="text-align: center;">
    <strong>
    VEILLE TECHNOLOGIQUE
  </strong>
  </h2>
</div>